<div>
  <div ng-if="successSignup" class="alert alert-success" role="alert">
    Signup success. Use login and password.
  </div>
  <form name="loginForm" novalidate ng-submit="login()">
    <form-errors errors="formErrors"></form-errors>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="loginModel.email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="loginModel.password">
    </div>
    <div>
      <div class="pull-left">
        <a ui-sref="clear.signup">Sign Up</a>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
